<div class="container mx-auto h-screen flex flex-col justify-center items-center">

  <div class="py-6 mt-4">
    <div class="text-3xl"><%= t("users.sessions.new.title")%></div>
  </div>

  <div class="w-full max-w-md py-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'w-full' }) do |f| %>
      <div class="field mb-4">
        <%= f.label :email, class: 'block text-lg' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full p-2 border border-gray-300 rounded' %>
      </div>

      <div class="field mb-4">
        <%= f.label :password, class: 'block text-lg' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'w-full p-2 border border-gray-300 rounded' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-4">
          <%= f.check_box :remember_me, class: 'mr-2' %>
          <%= f.label :remember_me, class: 'inline' %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t("users.buttons.login"), class: 'bg-blue-600 text-white py-2 px-4 rounded' %>
      </div>
    <% end %>
  </div>

  <div class="w-full max-w-md">
    <%= render "users/shared/links" %>
  </div>
</div>