<div class="container mx-auto h-screen flex flex-col justify-center items-center">
  <div class="py-6 mt-4">
    <div class="text-3xl"><%= t("users.passwords.edit.title")%></div>
  </div>

  <div class="w-full max-w-md py-6">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field mb-4">
        <%= f.label :password, t("users.passwords.edit.new_password"), class: 'block text-lg' %><br />
        <% if @minimum_password_length %>
          <em><%= t('devise.registrations.new.password_hint', count: @minimum_password_length) %></em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'w-full p-2 border border-gray-300 rounded' %>
      </div>

      <div class="field mb-4">
        <%= f.label :password_confirmation, class: 'block text-lg' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full p-2 border border-gray-300 rounded' %>
      </div>

      <div class="actions">
        <%= f.submit t("users.buttons.Change_my_password"), class: 'bg-blue-600 text-white py-2 px-4 rounded' %>
      </div>
    <% end %>
  </div>

  <div class="w-full max-w-md">
    <%= render "users/shared/links" %>
  </div>
</div>